pkg
downloads
workbench
destroot
tmp
bundle.tar.gz
cocoapods-plugins-install/*.gem
app/CPReflectionService/libruby+exts.a
.github_access_token
.sparkler_update_key
gh-pages/

DerivedData
*.xcuserdatad
*.xccheckout

*.*-e
app/CocoaPods/Ruby Integration/
homebrew_cask/
